.about_me__info {
    padding-left: 75px;
    margin: 0 0 0 auto;
    max-width: 1376px;
    background-color: $about_me_color;
    position: relative;
    box-sizing: border-box;
}

.about_me__info h2 {
    padding-left: 105px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.about_me__info h1 {
    font-weight: 600;
    font-size: 80px;
    line-height: 97px;
}

.about_me__info p {
    display: flex;
}
.about_me__info-text {
    padding-left: 100px;
}

.about_me__info-text-paragrph {
    padding-bottom: 22px;
    max-width: 429px;
}

.about_me__info-wrapper {
    display: flex;
}

.about_me__info-wrapper img {
    position: absolute;
    transform: translateX(calc(100% + 30px));
}

.about_me__info-text-grid {
    padding-bottom: 136px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
}

.about_me__info-text-grid__style1 {
    font-size: 50px;
    line-height: 61px; 
    padding: 0;
}