.body {
    font-family: "Cormorant", "Arial", sans-serif;
}

.body__wrapper {
    padding-top: 79px;
    margin-top: 70px;
    margin-left: 60px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: $main-color;
    overflow: hidden;
}

.body--wite_color {
    background-color: $about_me_color;
    padding: 0;
}
